@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-u1l3ft');
	src:url('fonts/icomoon.eot?#iefix-u1l3ft') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-u1l3ft') format('truetype'),
		url('fonts/icomoon.woff?-u1l3ft') format('woff'),
		url('fonts/icomoon.svg?-u1l3ft#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
	content: "\e602";
}
.icon-github:before {
	content: "\e601";
}
